
.v-application {
  .transparent-background {
    background: transparent !important;
  }
  .text-decoration-none {
    text-decoration: none;
  }
  .word-break {
    word-break: break-word !important;
    overflow-wrap: break-word !important;
  }
  .apps-route-button.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: #e9ecef !important;
  }
  .apps-simple-table {
    &.theme--light.v-data-table thead tr:last-child th {
      border: thin solid rgba(0, 0, 0, 0.12);
    }
    &.v-data-table td {
      border: thin solid rgba(0, 0, 0, 0.12);
    }
    &.v-data-table td {
      font-size: 0.875rem;
      height: 36px !important;
    }
    .v-input--selection-controls__ripple {
      height: 25px !important;
      width: 25px !important;
      left: -8px !important;
      top: calc(50% - 20px) !important;
    }
    .v-radio {
      display: inline-block;
      padding-top: 4px;
    }
    .table-head {
      background-color: #f4f8fa;
    }
  }

  @include mq(xs) {
    .v-btn--outlined {
      border: 1px solid !important;
    }
    .textfield-border.v-text-field > .v-input__control > .v-input__slot:before {
      border-width: 1px 0 0 0 !important;
    }
  }
  @include mq(sm) {
    .v-btn--outlined {
      border: thin solid !important;
    }
    .textfield-border.v-text-field > .v-input__control > .v-input__slot:before {
      border-width: thin 0 0 0 !important;
    }
  }
  @include mq(md) {
  }
  @include mq(lg) {
  }
  @include mq(xl) {
  }

  @supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    .ios-fill-height {
      height: -webkit-fill-available;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

* {
  text-transform: none !important;
}
