.profileAvatar {
  //width: 200px;
  -webkit-border-radius: 50%;
  overflow: hidden;
  perspective: 1px;
  -moz-border-radius: 50%;
  border-radius: 50% !important;
}

.file-input {
  width: 225px !important;
}
