.main-body {
    background: #edf3f7;
    height: 100%;
}

.sidebar-router-link.router-link-exact-active.router-link-active {
    background-color: rgba(213, 213, 218, 0.5) !important;
}

.background-purple-light {
    background-color: rgba(213, 213, 218, 0.5) !important;
}

.background-transparent {
    background-color: transparent !important;
}